.git
.github
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose.yml
Dockerfile
*.log
*.sqlite